<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aerotec.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Aerotec.My.MySettings>
            <setting name="t1" serializeAs="String">
                <value>192.168.127.254</value>
            </setting>
            <setting name="pr" serializeAs="String">
                <value>standard</value>
            </setting>
            <setting name="a" serializeAs="String">
                <value>True</value>
            </setting>
        </Aerotec.My.MySettings>
    </userSettings>
</configuration>
